.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-rows: 120px 1fr 50px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: "h h"
                       "n c"
                       "f f";
}

.header {
  display: flex;
  align-items: center;
  grid-area: h;
  width: 100%;
  background: linear-gradient(45deg, bisque, rgb(247, 177, 92));
  border-radius: 15px;
  margin-top: 10px;
}

.header img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__desc {
  font-weight: 500;
  color: brown;
}

.nav {
  grid-area: n;
  background: linear-gradient(45deg, rgb(247, 177, 92), bisque);
  border-radius: 15px;
}

.nav div {
  margin: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

.nav div a {
  color: brown;
}

.content {
  grid-area: c;
  background-color: antiquewhite;
  border-radius: 15px;
}

.content div {
  margin: 10px;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

footer {
  grid-area: f;
  width: 100%;
  background: linear-gradient(45deg, rgb(247, 177, 92), bisque);
  border-radius: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer__copyright {
  margin: 10px;
  color: rgb(71, 71, 71);
}

